# you can copy this file to a server directory and rename it to jeffmc-server.conf
# to allow server specific startup settings.
# you can use bash features such as $(...)

# Name of your server executable (e.g. spigot-latest.jar)
# Comment out if you want to override the default value set in the global jeffmc.conf
# The default setting will use the first .jar file found
# e.g.: executable="spigot-latest.jar"
#       executable="$(find . -maxdepth 1 -name \*.jar | sort | tail -n1)" # default
#       executable="*.jar" # do not use this if you have more than one jar in your server directory!
#executable="$(find . -maxdepth 1 -name \*.jar | sort | tail -n1)"

# Maximum RAM usage
# Comment out if you want to override the default value set in the global jeffmc.conf
#Xmx=1024M

# Initial RAM usage
# Comment out if you want to override the default value set in the global jeffmc.conf
#Xms=256M

# Seconds until a server stopping attempt seems to have failed.
# Comment out if you want to override the default value set in the global jeffmc.conf
#TIMEOUT=180
